fastapi
uvicorn[standard]
motor
pydantic-settings
python-dotenv
langchain
langchain-google-genai
python-multipart
passlib[bcrypt]
bcrypt==3.2.0
python-jose[cryptography]
pymongo
email-validator
chromadb
langchain-community
